
/*FLEX ======================== */

.d-flex-row-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*IMG-FLUID =================*/

.img-fluid {
    max-width: 100%;
    height: auto;
}

/*CONTAINER =====================*/

.container {
    width: 1170px;
    margin: 0 auto;
}

/*TEXT CENTER RIGHT LEFT======================*/

.text-center {
    text-align: center;
}
/*REPEAT TITLE ===================*/

.main-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 27px;
    color: #14b9d5;
    margin-bottom: 50px;
}

/*HEADER ========================*/

.header-logo-and-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1d2124;

    height: 70px;
}

.header-logo {
    flex: 1;
}

.header-logo-link {
    display: flex;
    justify-content: left;
    align-items: center;
    text-decoration: none;
}

.header-img-container {
    height: 70px;
    background-color: #1a1d20;
}

.header-logo-img {
    padding: 0 22px;
    width: 27px;
    height: 27px;
}

.header-logo-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    margin-left: 6px;
}

.header-nav-list {
    flex: 3;
}

.header-nav-item {
    margin-right: 37px;
}

.header-nav-item:last-child {
    margin-right: 0;
}

.header-nav-link {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}

.header-search {
    flex: 1;
}

.header-search-link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-search-img-container {
    background-color: #1a1d20;
    height: 70px;
}

.header-search-img {
    width: 17px;
    height: 17px;
    padding: 0 25px;
}

/*LATEST NEWS ON DESIGN ===================*/

.latest-news {
    background-size: cover;
    height: 375px;
    background-image: url(../img/header-bg.png);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1a1d20;
}

.latest-news-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 27px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 45px;
}

.latest-news-button {
    text-align: center;
}

.latest-news-first-btn {
    margin-right: 15px;
    display: inline-block;
    text-decoration: none;
    padding: 20px 0;
    width: 170px;
    background-color: #89ca62;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    border-radius: 5px;
    text-transform: capitalize;
}

.latest-news-second-btn {
    display: inline-block;
    text-decoration: none;
    padding: 20px 0;
    width: 170px;
    background-color: #14b9d5;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    border-radius: 5px;
    text-transform: capitalize;
}

.latest-news-first-btn:hover {
    background-color: #6cca43;
}

.latest-news-second-btn:hover {
    background-color: #119bd5;
}

/*OUR MOST POPULAR POSTS =================*/

.most-popular-posts {
    padding: 70px 0 0;
    background-color: #f2f2f2;
}

.popular-posts-grid {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}

.post-grid {
    background-color: #ffffff;
}

.popular-posts-title {
    margin-bottom: 23px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #353a3d;
    padding: 18px 0;
}

.post-grid-1 {
    height: 322px;
}

.post-grid-2 {
    height: 442px;
}

.post-grid-3 {
    height: 352px;
}

.post-grid-4 {
    height: 322px;
    position: relative;
    bottom: 120px;
}

.post-grid-5 {
    height: 311px;
}

.post-grid-6 {
    height: 442px;
    position: relative;
    bottom: 90px;
}


/*OUR MOST POPULAR CLIENTS ==================*/

.most-popular-clients {
    background-size: cover;
    height: 575px;
    background-image: url(../img/parallax-bg.jpeg);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.most-popular-clients-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 32px;
    color: #ffffff;
    margin-bottom: 50px;
}

.most-popular-clients-title::after {
    display: block;
    content: '';
    width: 60px;
    height: 3px;
    background-color: #37a9f1;
    margin: 55px auto 0;
}

.clients-brand-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 70px;
    align-items: center;
    justify-items: center;
}

.brand-img {
    max-width: 100%;
    height: auto;
}

/*TOP RATED ==================*/

.top-rated {
    margin-bottom: 50px;
}

.top-rated-img-list {
    display: grid;
    grid-template-columns: repeat(7, 14.28%);
}

.top-rated-img {
    max-width: 100%;
    height: auto;
}

/*HOT NEWS ===================*/

.hot-news-list {
    display: grid;
    grid-template-areas: "a a a b"
                         "c c d d"
                         "f f e e"
                         "l g g g";
    grid-template-rows: 259px 420px 420px 259px;
    grid-row-gap: 40px;
    margin-bottom: 72px;
}

.hot-news-item {
    background-color: #f9f7f7;
}

.news-item-1 {
    grid-area: a;
    margin-right: 35px;
    display: flex;
    align-items: center;
    text-align: right;
}

.news-item-2 {
    grid-area: b;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.news-item-3 {
    grid-area: c;
    margin-right: 60px;
    text-align: right;
}

.news-item-4 {
    grid-area: d;
    text-align: right;
}

.news-item-5 {
    grid-area: f;
    margin-right: 60px;
    text-align: right;
}

.news-item-6 {
    grid-area: e;
    text-align: right;
}

.news-item-7 {
    grid-area: l;
    margin-right: 35px;
}

.news-item-8 {
    grid-area: g;
    display: flex;
    align-items: center;
    text-align: right;
}

.hot-news-img-title {
    margin-bottom: 23px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #353a3d;
    padding: 13px 20px 0;
}

.hot-news-img-desc {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #5b6469;
    line-height: 1.5;
    padding: 0 20px;
}

/*FOOTER =====================*/

.main-footer {
    background-color: #1d2124;
}

.main-footer-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    height: 79px;
}

.main-footer-copyright {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #ffffff;
}

.footer-logo-img {
    justify-self: end;
    max-width: 100%;
    height: auto;
}